<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="SecretNest.RemoteAgency.Base" version="1.6.0" targetFramework="net471" />
  <package id="SecretNest.RemoteAgency.DataContractSerializer" version="1.6.0" targetFramework="net471" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net471" />
  <package id="System.Composition" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.AttributedModel" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.Convention" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.Hosting" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.Runtime" version="1.0.31" targetFramework="net471" />
  <package id="System.Composition.TypedParts" version="1.0.31" targetFramework="net471" />
  <package id="System.Reflection.Emit.ILGeneration" version="4.3.0" targetFramework="net471" />
  <package id="System.Reflection.Emit.Lightweight" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net471" />
  <package id="System.Runtime.Serialization.Xml" version="4.3.0" targetFramework="net471" />
</packages>