*.vs
*.obj
*.exe
*/bin/*
*/obj/*
ReflectionApp/ReflectionApp/bin/Debug/netcoreapp2.0/ReflectionApp.deps.json
ReflectionApp/ReflectionApp/bin/Debug/netcoreapp2.0/ReflectionApp.dll
ReflectionApp/ReflectionApp/bin/Debug/netcoreapp2.0/ReflectionApp.pdb
ReflectionApp/ReflectionApp/bin/Debug/netcoreapp2.0/ReflectionApp.runtimeconfig.dev.json
ReflectionApp/ReflectionApp/bin/Debug/netcoreapp2.0/ReflectionApp.runtimeconfig.json
ReflectionApp/.vs/ReflectionApp/DesignTimeBuild/.dtbcache
ReflectionApp/.vs/ReflectionApp/v15/.suo
ReflectionApp/.vs/ReflectionApp/v15/Server/sqlite3/db.lock
ReflectionApp/.vs/ReflectionApp/v15/Server/sqlite3/storage.ide
ReflectionApp/.vs/ReflectionApp/v15/Server/sqlite3/storage.ide-shm
ReflectionApp/.vs/ReflectionApp/v15/Server/sqlite3/storage.ide-wal
.gitignore.txt
ReflectionApp/ReflectionApp/obj/Debug/netcoreapp2.0/ReflectionApp.AssemblyInfo.cs
ReflectionApp/ReflectionApp/obj/Debug/netcoreapp2.0/ReflectionApp.AssemblyInfoInputs.cache
ReflectionApp/ReflectionApp/obj/Debug/netcoreapp2.0/ReflectionApp.csproj.CoreCompileInputs.cache
ReflectionApp/ReflectionApp/obj/Debug/netcoreapp2.0/ReflectionApp.csproj.FileListAbsolute.txt
ReflectionApp/ReflectionApp/obj/Debug/netcoreapp2.0/ReflectionApp.csprojAssemblyReference.cache
ReflectionApp/ReflectionApp/obj/Debug/netcoreapp2.0/ReflectionApp.dll
ReflectionApp/ReflectionApp/obj/Debug/netcoreapp2.0/ReflectionApp.pdb
ReflectionApp/ReflectionApp/obj/project.assets.json
ReflectionApp/ReflectionApp/obj/ReflectionApp.csproj.nuget.cache
ReflectionApp/ReflectionApp/obj/ReflectionApp.csproj.nuget.g.props
ReflectionApp/ReflectionApp/obj/ReflectionApp.csproj.nuget.g.targets
